In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(columns=['classes'])

In [8]:
df.loc[len(df)] = [['warlock', 'wizard', 'sorcerer']]

In [7]:
len(df)

0

In [9]:
df

                       classes
0  [warlock, wizard, sorcerer]

In [10]:
df.to_csv("test.csv")

In [17]:
df_again = pd.read_csv("test.csv")

In [17]:
def score_to_mod(score):
    return int(score/2) - 5

In [19]:
score_to_mod(16)

3

In [6]:
test_dict = {"One": 1,
             "Two": 2,
             "Three": 3,
             "Four": 4,
             "Five": 5}

empty_dict = {}

None in list(empty_dict.values())

False

In [1]:
class Race:

    def chooseSubrace(self):
        pass

In [4]:
Race().chooseSubrace()

In [4]:
hasattr(Race, "chooseSubrae")

False

In [4]:
total_levels = 7

np.arange(1,21-total_levels)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])